<%= simple_form_for @post do |f| %>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.erros.full_messages.each do |msg| %>
          <li>
            <%= mgs %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.input :title,  placeholder:"Post title" %>
	</div>
  <div class="form-group">
    <%= f.text_field :tag_list,  placeholder:"Post Category" %>
  </div>
<div class="form-group">
    <%= f.text_field :keywords,  placeholder:"Keywords" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description,  placeholder:"Post Description" %>
  </div>
  <span class="picture">
    Add Thumb Picture
    <%= f.file_field :picture, required: true %>
  </span>
	<div class="form-group">
		<%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.button :submit %>
	</div>
<% end %>