<% provide(:title, "Home") %>

<div class="container-fluid">

   <div class="row">
    <div class= "col-sm-12">
      
    
    <div class="col-sm-3">  
 
    
    </div>
    <div class="col-sm-6" style='background-color: rgba(0, 0, 0 ,0.03)'>

      <% @posts.each do |post| %>
   
    
    <table style="width:100%; color: black;">
    <tr>
   <td>
         <%= cl_image_tag post.picture_url :transformation => [{:height => 180, :width => 170, :crop => "thumb", :secure => true, :radius => 0}] %> </td>
<td>
 <p><%= link_to post.title, post_path(post) %></p>

<hr />
  <%= link_to "Edit Post", edit_post_path(post), class: "btn btn-success btn-xs" %>
  
    
 
      <%= link_to 'Destroy', post, class: "btn btn-danger btn-xs", :method => :delete, :confirm => "Are you sure?" %>

    
       
</td>
      
      
  
</tr>
   </table>  
   <hr />
    <% end %>
      <%= will_paginate @posts %>
   </div>
    <div class="col-sm-8">

    

    </div>
    
</div>
    <div class="col-sm-3">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- brainrupture -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9075062478131160"
     data-ad-slot="2486469730"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    
</div>

     </div>
