<% provide(:title, "Home") %>

<div class="container-fluid">

   <div class="row">
    <div class= "col-sm-12">
      
    
    <div class="col-sm-3">  
  <%=render 'layouts/ad1'%>
    
    </div>
    <div class="col-sm-6" style='background-color: rgba(0, 0, 0 ,0.03)'>
  <%=render 'layouts/carousel'%>
 <h1 style="font-size: 40px;
  color: orange;
  font-family: Times New Roman, Georgia, Serif;
  font-weight: bold;"> Man U vs SouthHamton Preview</h1>
  <div class='video'>
    <div class="embed-responsive embed-responsive-16by9">
  <iframe title="YouTube video player" class="embed-responsive-item" class="youtube-player" type="text/html" 
width="640" height="390" src="https://www.youtube.com/embed/yWYHHNADK04"
frameborder="0" allowFullScreen></iframe>
</div>
</div>
<h1 style="font-size: 40px;
  color: orange;
  font-family: Times New Roman, Georgia, Serif;
  font-weight: bold;"> Latest Posts</h1>
   <div class="col-sm-4">
     <% @posts.find(1) do |post| %>
    <%= cl_image_tag post.picture_url :transformation => [{:height => 250, :width => 200, :crop => "thumb", :secure => true, :radius => 0}] %>
     <p><%= link_to post.title, post_path(post) %></p>
     <%= link_to "Read more.....", post_path(post), class: "btn btn-warning btn-xs" %>
     <h2>Rating</h2>
    <div class="best-product-rating">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                    </div>
                     <p class="timestamp" style="color:rgba(0, 0, 0, 0.5); font-size: 9px;">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </p>

    <% end %>
   </div>
    <div class="col-sm-8">

     <% @posts.find_each(start: 2, finish: 5) do |post| %>
    
   <div class= 'float'>
   
         <%= cl_image_tag post.picture_url :transformation => [{:height => 180, :width => 170, :crop => "thumb", :secure => true, :radius => 0}] %>

         <h3>
     <%= link_to "Read more.....", post_path(post), class: "btn btn-warning btn-xs" %>

     </h3>

    
        <p><%= link_to post.title, post_path(post) %></p>
 
      
        </div>

  

    <% end %>
     

    </div>
    
</div>
    <div class="col-sm-3">
      <h4>Other articles you may like</h4>

     <% @posts.each do |post| %>
    
  <table style="width:100%; color: black;">
    <tr>
         <td><%= cl_image_tag post.picture_url :transformation => [{:height => 80, :width => 150, :crop => "thumb", :secure => true, :radius => 0}] %></dt>

          
        <td><%= link_to post.title, post_path(post) %></td>
 </tr>
   </table>   
<hr /> 
  

    <% end %> 

    <%= will_paginate @posts %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- brainrupture -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9075062478131160"
     data-ad-slot="2486469730"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    
</div>

     </div>
