<% provide(:title, "Home") %>

<div class="container-fluid">

   <div class="row">
    <div class= "col-sm-12">
      
    </div>
    <div class="col-sm-3">  
  <%=render 'layouts/ad1'%>
    
    </div>
    <div class="col-sm-6" style='background-color: rgba(0, 0, 0 ,0.03)'>
  <%=render 'layouts/carousel'%>
 <h1 style="font-size: 40px;
  color: orange;
  font-family: Times New Roman, Georgia, Serif;
  font-weight: bold;"> Man U vs SouthHamton Preview</h1>
  <div class='video'>
  <iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="640" height="390" src="https://www.youtube.com/embed/P1aj30OtMwc"
frameborder="0" allowFullScreen></iframe>
</div>
<h1 style="font-size: 40px;
  color: orange;
  font-family: Times New Roman, Georgia, Serif;
  font-weight: bold;"> Latest Posts</h1>
     <% @posts.each do |post| %>
    
   <div class= 'float'>
   
         <%= cl_image_tag post.picture_url :transformation => [{:height => 180, :width => 140, :crop => "thumb", :secure => true, :radius => 0}] %>

         <h3>
     <%= link_to "Read more.....", post_path(post), class: "btn btn-warning btn-xs" %>

     </h3>

    
        <p><%= link_to post.title, post_path(post) %></p>
 
     
        </div>

  

    <% end %>
     

    </div>

    <div class="col-sm-3">  
  <div class="videos">
<%=video_tag("https://res.cloudinary.com/hkc0gq9vt/video/upload/v1474443284/3052397_VIDEO_HIGH_H264_qhap5u.mp4")%>
</div>

      <%= render @posts %>
