 <div class="container-fluid">

   <div class="row">
    <div class= "col-sm-12">
      
    </div>
    <div class="col-sm-3">  
  <%=render 'layouts/ad1'%>
    </div>
    <div class="col-sm-6">
	<% @post.tags.each do |tag| %>
	<%= link_to tag.name %>
	<% end %>
  <h1 style="font-size: 30px;
  color: orange;
  font-family: Times New Roman, Georgia, Serif;
  font-weight: bold;"><%= @post.title %></h1>
 
  <div><%= raw @post.body %></div>
   <h5><%= @post.created_at.strftime('%b %d, %Y') %></h5>
</div>
</div>
</div>