<!DOCTYPE html>
<html>
<head>
  
  <title><%= yield(:title) %> | ThiqBT </title>
 <meta name="viewport" content="width=device-width                , initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta property="og:image" content="url_to_image" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 </head>
<body>
<%=render 'layouts/header'%>
<div class="container-fluid">
  <div class="row">
    <div class= "col-sm-12">
       <%=render 'layouts/top'%>
    
    
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
       <%= yield %>
   
    
</div>
 <%= render 'layouts/footer' %>

</body>
</html>
