<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Life Time Community</title>
  <meta name="google-site-verification" content="1M8xvT62JxADgh7508XjypWcA6yDl5yiuqHNpgMAGQ0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta property="og:image" content="url_to_image" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= disqus_init :short_name => "simonmuriuki ", :public_key => "public key", :secret_key => "secret_key", :access_token => "access_token" %>
</head>
<body>
<%=render 'layouts/header'%>
<div class="container-fluid">
  <div class="row">
    <div class= "col-sm-12">
       <%=render 'layouts/top'%>
    
    
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
       <%= yield %>
   
    
</div>
</body>
</html>
