<!DOCTYPE html>
<html>
<head>
 <script type="text/javascript">
    var adfly_id = 14760201;
    var popunder_frequency_delay = 2;
</script>
<script src="https://cdn.adf.ly/js/display.js"></script> 
 
 
  <title><%= yield(:title) %> | ThinqBT </title>
 <meta content="<%= yield (:description) %>" name="description">
 <meta content="online jobs tips, entertainment news, health and healthy living, sports, new in technology, thinqbt, think big time, TBT, thinqbt.com " name="keywords">
 <meta name="viewport" content="width=device-width                , initial-scale=1.0" />
 <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta property="og:image" content="<%= yield(:picture) %>" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 </head>
<body>
<%=render 'layouts/header'%>
<div class="container-fluid">
  <div class="row">
    <div class= "col-sm-12">
       <%=render 'layouts/top'%>
    
    
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
       <%= yield %>
   
    
</div>
 <%= render 'layouts/footer' %>

</body>
</html>
